/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/
/*html,body{
	margin: 0 auto;
	width:420px!important;
	max-width:420px!important;
}

body{
	width:420px;
}*/
.content-block .data-table{
	overflow: initial!important;
}
.statusbar-overlay {
    background: #000000;
}
.center-content{
	margin: 0 auto !important;
}
/*-------------------------------
            Index
-------------------------------*/
#img-logo{
    position: relative;
    height: 56px;
    float: left;
}
#box-welcome{
    text-align: center;
    font-size: 16px;
}

.btn-spacer{
    margin: 5px;
}
.btn-logout-sidePanel{
    margin: 20px 0px;

}


.data-table tbody td {
    height: auto;
    height: 70px;

}

.infinite-scroll-preloader {
  margin-top:-20px;
  margin-bottom: 10px;
  text-align: center;
}
.infinite-scroll-preloader .preloader {
  width:34px;
  height:34px;
}

.directory, .file{
    padding: 5px;
    list-style-type: none;
}
.directory{

}
.file{

}

.titleDocumentPage{
    font-size: 18px;
    text-align: center;
}
.datePickerFrom, .datePickerTo, .searchForNumberFrom, .searchForNumberTo, .docContains, .docAmountFrom, .docAmountTo, .docAmountFromDecimal, .docAmountToDecimal, .docType{
    height: 20px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0px !important;
    font-size: 15px;
    width: 100%;
    max-width: 160px;
}
.iconCalendar{
    vertical-align: middle;
    color: #5a483e;
    margin-top: 20px;
    display: block;
    text-align: left;
}
.datePickerContainer, .searchForNumberContainer, .filterStatus, .filterDesc{
    padding: 0px 5px;
    margin-bottom: 20px;
}
.documentSearchCount{
    display: none;
    margin: 1em auto;
    text-transform: uppercase;
}
.docContainer .data-table{
    width: 100%;
}
.tbodyDocumentList td{
    padding-top: 15px;
    padding-bottom: 15px;
}

.nodisplay{
    visibility: hidden;
}
.backToTop{
       background: #f44336 !important;
}
.buttonsFilter{
    margin-top: 50px;
}
/* Ticket file uploader */
.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.item-content label{
    font-size: 12px;
}
.valutazioneTkt input[type="radio"] {
  display: none;
}

.valutazioneTkt label {
  font-size:45px;
}

.valutazioneTkt label{
  direction: rtl;
  unicode-bidi: bidi-override;
}
.textAreaValutazioneTkt{
    direction: ltr;
}
.valutazioneTkt label:hover,
.valutazioneTkt label:hover ~ label {
  color: orange;
}

.valutazioneTkt input[type="radio"]:checked ~ label {
  color: orange;
}
.valutazioneTkt{
        padding-left: 16px;

}
.btnDetailTicket{
    margin-top: 50px;
}

.displaynone{
    display: none;
}

.notaValutazione{
    padding-right: 16px;
}
.colorWhite{
    color:#fff !important;
}

[data-page="index"] .back.link{
    display: none;
}
a.button.button-fill.button-raised.yellow{
    background-color: #ffc107!important;
    color: #fff;
    font-size: 17px;
}
.button{
	/*max-width: 50%;*/
}
.amountSeparator{
    font-size: 25px;
    top: 8px;
    position: relative;
}

.docAmountFrom, .docAmountTo{
    width: 125px;
    margin-bottom: 10px;
}
.docAmountFromDecimal, .docAmountToDecimal{
    width: 18px;
    margin-bottom: 10px;
}
.containerAmount{
    position: relative;
    top: -10px;
}
.searchForTextContainer{
    margin-bottom: 30px;
}
.info.row, .puntiVenditaIspezione.row, .presentiIspezione.row, .commentiIspezione, .tipoIspezione{
    margin-bottom: 40PX;
}
.nuovaIspezioneh3{
    text-align: center;
    margin-bottom: 30px;
}

.bold{
    font-weight: bold;
}
.list-block.virtual-list.ispezioneList .item-subtitle{
    background-color: #5a483e;
    padding: 5px 5px;
    color:#fff;
    font-size:12px;
    margin: 10px 0px;
}
.ispezioneList.list-block .item-title{
    white-space: normal;
}
.ispezioneList select, .storicoIspezioni select{
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    -ms-appearance: menulist;
    appearance: menulist;
}
.smart-select{
    -webkit-appearance: menulist !Important;
    -moz-appearance: menulist !Important;
    -ms-appearance: menulist !Important;
    appearance: menulist !Important;
    display: inline-block;
    width: 165px;
    border-bottom: 1px solid;
    padding: 2px;
    color: #000 !Important;
}
.storicoIspezioni .datePickerContainer, .storicoIspezioni .searchForNumberContainer, .storicoIspezioni .filterStatus, .storicoIspezioni .filterDesc{
    padding: 0px;
}
a.button.button-fill.button-big.button-raised.color-amber.btn-spacer.submitRicercaIspezioni, a.button.button-fill.button-big.button-raised.color-amber.btn-spacer.submitIspezioneHeader {
    margin-top: 50px;
}
a.button.button-fill.button-big.button-raised.color-amber.btn-spacer.submitRicercaIspezioni {
    margin-bottom: 50px;
}

.displayblock{
    display: block;
}

.virtual-list.list-block .item-content{
    border-bottom: 1px solid rgba(0,0,0,.1) !Important;
}
.virtual-list.list-block ul:after{
    position: relative !Important;
}
.ispezioniContainer.row{
    margin-top: 50px;
    
}
.item-link.smart-select{
        padding: 10px;
}
select{
    padding: 10px;
}
textArea{
    padding: 10px;
}

input.modal-text-input{
    border-bottom:1px solid ;
}

.sposta{
    position: absolute !Important;
    right: 3000px !Important;
}
.small-imageMulti{
    display: block;
    margin: 10px 0px;
    width: 60px;
}
.row.imgContent{
    width: 100px;
}
.customDelete {
    position: relative;
    top: 4px;
    left: 20px;
}
.customDeleteImg {
    position: relative;
    top: 14px;
}
.filterStatusSelect{
    background: none !important;
}

div.ispezioneList .item-subtitle{
    white-space:normal;
}

.ispezioneList select{
    width: 130px;
    margin-left: 20px;
}
div.ispezioneList ul{
    height: 100% !important;
}
.conteinerCalendar .button.close-picker{
    display: none;
}
.sr-notaTkt{
    display: none;
}
.picker-calendar.picker-modal{
    z-index: 99998 !Important;
}
.refresh-btn{
    left: 16px;
    bottom: 35px;
    position: absolute;
}
.refresh-btn .floating-button{
    right: 0;
    bottom: 0;
    position: relative;
}
.btn-camera-upload{
	display:none !important;
}
div.list-block.virtual-list.ispezioneList.media-list li{
    position:static !Important;
}

p.nuovaIspezione, p.storicoIspezioni, a.submitRicercaIspezioni{
	    width: 50% !important;
    margin: 1em auto !important;
}
.ispezioniContainer.row .data-table{
	width:100% !Important; 
}
@media (max-width: 480px) and (orientation: portrait) {
    .tbodyDocumentList td{
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
